body {
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif ;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
    text-align: justify;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
   
}

/*css na tag*/
footer{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
    
}

/*elemento pai com filho e o estilo é aplicado somente no filho, nesse caso o img*/
footer img {

    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

/*# representa uma id no CSS*/
#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

p::first-letter {
    font-weight: bold;
}

h1 + p {
    text-indent: 0;
}

:not(p) + p::first-line {
    font-variant: small-caps;
}

/*versão mobiel exercício */

@media (max-width: 939px) {

    /*adicionar aqui os novos estilos para mobile*/

    body {
        width: 98%;
        margin-left: 0;
        margin-right: 0;
     
    }

    img {
        margin-right: 0;
        width: 100%;
    }

    h1 {
        text-align: center;
        margin-right: 0;
        width: 100%;
    }

    h2 {

        text-align: center;
        margin-right: 0;
        width: 100%;

    }

}